<section class="features" id="features">
    @foreach (var feature in Features)
    {
        <div class="feature">
            <img src="@feature.ImageSrc" alt="@feature.Title">
            <div>
                <div class="title">@feature.Title</div>
                <span>@feature.Description</span>
            </div>
        </div>
    }
</section>

@code {
    private List<Feature> Features = new()
    {
        new Feature
        {
            ImageSrc = "/images/image1.jpeg",
            Title = "AO Simplified Reporting",
            Description = "Eliminate the hassle of daily and weekly reports."
        },
        new Feature
        {
            ImageSrc = "/images/image3.jpeg",
            Title = "AI Powered Suggestions",
            Description = "Empower your team with actionable insights."
        },
        new Feature
        {
            ImageSrc = "/images/image4.jpeg",
            Title = "Seamless Documentation",
            Description = "Automatically document progress and conversations."
        }
        
    };
}
