<section class="features" id="features">
    <div class="feature">
        <img src="/images/image1.jpeg" alt="Simplified Reporting">
        <div>
            <div class="title">Simplified Reporting</div>
            <span>Eliminate the hassle of daily and weekly reports.</span>
        </div>
    </div>
    <div class="feature">
        <img src="/images/image3.jpeg" alt="AI Powered Suggestions">
        <div>
            <div class="title">AI Powered Suggestions</div>
            <span>Empower your team with actionable insights.</span>
        </div>
    </div>
    <div class="feature">
        <img src="/images/image4.jpeg" alt="Seamless Documentation">
        <div>
            <div class="title">Seamless Documentation</div>
            <span>Automatically document progress and conversations.</span>
        </div>
    </div>
</section>

@code {

}
